%header.header
  %h1.main-header　
  %li.main-header__title 夢口人
  %li.main-header__subtitle 夢を語りたい、聞きたい
  %h2.sub-header
    %ul.sub-header__post
      .sub-header__post--icon
        = link_to "#" do
          投稿する
          =icon('fas', 'edit')
    %ul.sub-header__topic
      %li.sub-header__topic--list 
        = link_to "#" do
          アーティスト一覧
      %li.sub-header__topic--list 
        = link_to "#" do
          カテゴリー一覧




