.contents.row
  .container
    = form_with(model: @post, local: true) do |form|
      %h3
        投稿する
      = form.text_field :title, placeholder: "title"
      = form.text_area :text, placeholder: "text" 
      = form.submit "投稿する"
