* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.header{
  margin: 0 auto;
  max-width: 1020px;
  height: 125px;
  position: relative;
  .main-header{
    margin: 0 auto;
    &__title{
      height: 90px;
      font-size: 50px;
    &__subtitle{

    }
    }
  }
  .sub-header{
    position: absolute;
    right: 0;
    top: 40px;
    &__post{
      width: 250px;
      height: 37px;
      padding: 0 0 0 20px;
      font-size: 25px;
      &--icon{
        background-color: red;
        border-radius: 10px;
        text-align: center;
        a{
          color:#fff;
          margin: 0 auto;
        }
      }
    }
    &__topic{
      display: flex;
      padding-top: 35px;
      &--list{
        a{
          color: black;
          padding: 30px 60px 30px 30px;
        }
      }
    }
  }
}
